<div class="controls">
  <div class="expand-collapse-buttons">
    <a class="expand-all active" href="#"><span>EXPAND ALL</span></a>
    <a class="collapse-all" href="#"><span>COLLAPSE ALL</span></a>
  </div>
  <div class="sort-buttons">
    <a class="sort-newest active" href="#"><span>NEWEST FIRST</span></a>
    <a class="sort-oldest" href="#"><span>OLDEST FIRST</span></a>
  </div>
</div>
